<!-- 查询 -->
<div style="margin-bottom: 20px;text-align: right">
    名称:&nbsp;&nbsp;
    <input style="width: 200px;margin-right: 20px" nz-input
           [(ngModel)]="chaxunxinxi.mingcheng"/>
    <nz-button-group>
        <button nz-button (click)="huoqushuju()">查询</button>
        <button nz-button (click)="tiandiandianji()">添加</button>
    </nz-button-group>
</div>

<!-- 表格 -->
<nz-table #basicTable [nzData]="shujuyuan_list">
    <thead>
    <tr>
        <th>名称</th>
        <th>类型</th>
        <th>IP</th>
        <th>端口</th>
        <th>数据库</th>
        <th>帐号</th>
        <th>密码</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of shujuyuan_list">
        <td>{{ data.mingcheng }}</td>
        <td>{{ data.type }}</td>
        <td>{{ data.host }}</td>
        <td>{{ data.port }}</td>
        <td>{{ data.database }}</td>
        <td>{{ data.username }}</td>
        <td>{{ data.password }}</td>
        <td>
            <a (click)="shangchu(data.id)">删除</a>
        </td>
    </tr>
    </tbody>
</nz-table>

<!-- 添加 -->
<app-chouti
        [xianshiyufou]="xianshitianjia"
        (quedingdianji)="quedingtianjia()"
        (quxiaodianji)="quxiaotianjia()"
        biaoti="数据源"
>
    <form nz-form>
        <nz-form-item>
            <nz-form-label [nzSpan]="4">名称</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <input name="mingcheng" nz-input [(ngModel)]="tianjiaxinxi.mingcheng">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="4">类型</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <app-shujukuleixing [(xuanquleixing)]="tianjiaxinxi.type"></app-shujukuleixing>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="4">IP</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <input name="ip" nz-input [(ngModel)]="tianjiaxinxi.host">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="4">端口</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <nz-input-number name="duankou" style="width: 100%"
                                 [(ngModel)]="tianjiaxinxi.port"
                                 [nzMin]="1"
                                 [nzStep]="1">
                </nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="4">帐号</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <input name="zhanghao" nz-input [(ngModel)]="tianjiaxinxi.username">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="4">密码</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <input name="mima" nz-input [(ngModel)]="tianjiaxinxi.password">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="4">数据库</nz-form-label>
            <nz-form-control [nzSpan]="24">
                <input name="shujuku" nz-input [(ngModel)]="tianjiaxinxi.database">
            </nz-form-control>
        </nz-form-item>
    </form>
</app-chouti>