<div>
    <h4 nz-typography style="display: inline-block;margin-bottom: 0">生成代码</h4>
    <button nz-button style="float: right" (click)="fanhuiliebiao()">返回列表</button>
</div>
<nz-divider></nz-divider>

<form nz-form>
    <nz-form-item>
        <nz-form-label [nzSpan]="1" nzFor="kubiao">库表</nz-form-label>
        <nz-form-control [nzSpan]="6">
            <app-shujukutable [shujukuid]="jjytsService.daimashengcheng_shujukuid"
                              [(xuanqubiao)]="shengchengxinxi.kubiao"></app-shujukutable>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="1" nzFor="baolujing">包路径</nz-form-label>
        <nz-form-control [nzSpan]="6">
            <input type="text" name="baoming" nz-input [(ngModel)]="shengchengxinxi.baoming"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzSpan]="7" style="text-align: right">
            <button nz-button (click)="shengchengdaima()">生成</button>
        </nz-form-control>
    </nz-form-item>
</form>