<div>
    <h4 nz-typography style="display: inline-block;margin-bottom: 0">创建库表</h4>
    <div style="display: inline-block;float: right">
        <span>表名： </span>
        <input type="text" nz-input [(ngModel)]="chuangjianxinxi.biaoming" style="width: 200px;margin-right: 10px"/>
        <nz-button-group>
            <button nz-button (click)="xinzhengshuxing()">新增属性</button>
            <button nz-button (click)="chuangjiankubiao()">创建库表</button>
            <button nz-button (click)="fanhuiliebiao()">返回列表</button>
        </nz-button-group>

    </div>
</div>
<nz-divider></nz-divider>
<nz-table [nzData]="[1]" [nzShowPagination]="false" nzSize="middle">
    <thead>
    <tr>
        <th nzWidth="150px">列名</th>
        <th nzWidth="150px">类型</th>
        <th nzWidth="300px">备注</th>
        <th>唯一</th>
        <th>非空</th>
        <th>主键</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of chuangjianxinxi.shuxings">
        <td>
            <input type="text" nz-input [(ngModel)]="data.lieming">
        </td>
        <td>
            <nz-select [(ngModel)]="data.leixing" style="width: 100%;">
                <nz-option *ngFor="let it of lieleixing" [nzValue]="it" [nzLabel]="it"></nz-option>
            </nz-select>
        </td>
        <td>
            <input type="text" nz-input [(ngModel)]="data.beizhu">
        </td>
        <td>
            <label nz-checkbox [(ngModel)]="data.weiyi"></label>
        </td>
        <td>
            <label nz-checkbox [(ngModel)]="data.feikong"></label>
        </td>
        <td>
            <label nz-checkbox [(ngModel)]="data.zhujian" (ngModelChange)="zhujiangaibian($event,data.lieming)"></label>
        </td>
        <td>
            <a (click)="shanchushuxing(data.lieming)">删除</a>
        </td>
    </tr>
    </tbody>
</nz-table>