<nz-layout class="layout">
    <nz-header style="z-index: 100">
        <img src="assets/gongsilogo1.png" class="logo" alt=""/>
        <ul nz-menu nzTheme="dark" nzMode="horizontal">
            <li nz-menu-item nzMatchRouter nzMatchRouterExact>
                <a routerLink="/zhuye/gerenzhongxin">个人中心</a>
            </li>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact>
                <a routerLink="/zhuye/shujuyuan">数据源管理</a>
            </li>
            <li nz-menu-item nzMatchRouter nzMatchRouterExact>
                <a routerLink="/zhuye/hongtian">宏天代码</a>
            </li>
            <!--            <li nz-submenu nzTitle="宏天代码">-->
            <!--                <ul>-->
            <!--                    <li nz-menu-item nzMatchRouter nzMatchRouterExact>-->
            <!--                        <a routerLink="/zhuye/hongtian">参数优化</a>-->
            <!--                    </li>-->
            <!--                    <li nz-menu-item nzMatchRouter nzMatchRouterExact>-->
            <!--                        <a routerLink="/zhuye/canshuyouhuajilu">优化记录</a>-->
            <!--                    </li>-->
            <!--                </ul>-->
            <!--            </li>-->
        </ul>
        <div class="tuichu" (click)="tuichudenglu()">退出</div>
    </nz-header>
    <nz-content>
        <div class="inner-content">
            <router-outlet></router-outlet>
        </div>
    </nz-content>
    <nz-footer>HiaCent © 2020</nz-footer>
</nz-layout>